AccessControl==6.2
Acquisition==5.0
AuthEncoding==5.0
beautifulsoup4==4.12.2
BTrees==5.0
cffi==1.16.0
Chameleon==4.2.0
DateTime==5.2
DocumentTemplate==4.5
ExtensionClass==5.0
MultiMapping==5.0
multipart==0.2.4
PasteDeploy==3.0.1
Persistence==4.0.post1
persistent==5.0
pycparser==2.21
python-gettext==5.0
pytz==2023.3.post1
RestrictedPython==7.0a1.dev1
roman==4.1
six==1.16.0
soupsieve==2.5
transaction==3.1.0
waitress==2.1.2
WebOb==1.8.7
WebTest==3.0.0
WSGIProxy2==0.5.1
z3c.pt==4.0
zc.lockfile==3.0.post1
ZConfig==4.0
zExceptions==5.0
ZODB==5.8.1
zodbpickle==3.0.1
